


body{
           
  background-image: url(../img/DecoracaoFundo.png);
  background-repeat: no-repeat;}

h3{
    color: #5D3028;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    line-height: 35px;

        }

        h4{    color: #5D3028;
   
    font-family: Roboto;
    font-size: 23px;
    line-height: 30px;
    padding: 0 8%;
}





/*curso*/









        .curso-containers{
        width: 70%;
        
       /* border: solid 3px black;*/
        margin: 0 auto;
        padding-bottom: 3%;
          
        
        }
    

        .foto-curso{
        width:100%;
        border-radius: 20px;
        }
  
  
  #curso-p{ 
    padding: 0 8%;
    color: #5D3028;
    text-align: center;
    font-family: Roboto; 
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%
    
  }

  .planos-curso{ 
    border-radius: 24px;
    border: 5px solid #FBE3E3;
    background: #FFF;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 0 8%;
    margin-bottom: 6%;

  }

  #curso-rosa{

    background: #FBE3E3;
    }



  p{
    line-height: 30px;
    color: #5D3028;
    text-align: justify;
    font-weight: 400;
    font-family: Roboto;
    padding: 0 8%;
    
        }
  #curso-preço{
    color: #5D3028;
text-align: center;
font-family: Roboto;
font-size: 49px;
font-style: normal;
font-weight: 700;
line-height: 163.265%
        
  }

  
  .curso-lista{
    list-style: none;
    color: #5D3028;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px;
    
  }
  
  .btn-curso{
    display: flex;
width: 150px;
height: 50px;
justify-content: center;
align-items: center;
border-radius: 30px;
background: #5D3028;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
margin: 0 auto;
margin-bottom: 15px;
    
    
    
  }
  
  .check-curso{
   width: 7%;
   height: 7%;
  }
  
  .li-curso{
    line-height: 30px;
    
  }


  

  .card-curso{
    margin-bottom: 15%;


  }






/*receita de torta*/





 p{
line-height: 30px;
color: #5D3028;
text-align: justify;
font-weight: 400;
font-family: Roboto;
text-align: center;
padding: 0 8%}


h3{
color: #5D3028;
text-align: center;
font-family: Roboto;
font-size: 30px;
line-height: 35px;

 }

.receita-texto{
width: 70%;
margin: 0 auto;
line-height: 25px;
color: #5D3028;
font-weight: 400;
font-family: Roboto;
text-align: center;
list-style: none;

}

.listalista{
 list-style: none;
padding: 0 8%;
}
.titulos-receita{

 text-align: center;
}


.receitas-cont {

padding: 0.8%;


margin: 0 auto
;
}

.receita-num{
text-align: left; 
padding: 0 8%;

}
 

.receita-img{

width: 80%;

padding: 7%;

}


.btn-voltar{
    padding: 2%;
}




/*receita*/




h3{
    color: #5D3028;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    line-height: 70px;

        }


.acordeao {
 
background: #F6ECDE;
  color: #5D3028;
  cursor: pointer;
  padding: 0 12% 0;
  width: 70%;
  height: 100px;
  border: solid pink 2px;
  text-align: left;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 19px;
  transition: 0.4s;
  font-weight: 700;
  
  
  
}

.active, .acordeao:hover {
  background-color: #FBE3E3; 
  border: 2px solid pink;
}

.painel {
  
  width: 70%;
  display: none;
  background-color: #F6ECDE;
  padding: 0 0 3%;
  overflow: hidden;
  border-radius: 10px 10px 24px 24px;
  border: 2px solid pink;
  
  
}

.item{  
  
  

    margin: 0 0 2%;
    display: grid; 
    place-items: center;
  
}

  .btn-receita{
    width: 55px;
    height: 55px;
    right: 20%;
    top: 23%; 
    display: flex;
    position: absolute;
  }

  .mais-receitas{
    background: white;
    color: rgb(247, 75, 104);
    font-size: 30px;
    padding: 5px 13px;
    border-radius: 83px;
    left: 89%;
    position: relative;
    
  }

  .mais-receitas-torta{
    background: white;
    color: rgb(247, 75, 104);
    font-size: 30px;
    padding: 5px 13px;
    border-radius: 83px;
    left: 88%;
    position: relative;

  }

 


.list-acordeao{
  list-style: none;
  line-height: 70px;
    color: #5D3028;
    text-align: justify;
    font-weight: 500;
    font-family: Roboto;

    
  }

  .list-acordeao a {
    text-decoration: none;
    color: #5D3028;
  }

  /*Trabalhando com as midias querys*/

    /*Curso*/



  @media (min-width: 500px) {

    .card-curso{
    
  
   
    }

    
 


  /*Receitas*/

    .list-acordeao{
              
    }







   }